<nav class="navbar navbar-default navbar-container">
  <div class="container-fluid">
    <div class="parent-wrapper">
        <div class="child-wrapper child-left">
          <i class="fa fa-bars fa-style" ></i><span class="search">My Health Profile</span>
        </div>
      <div class="child-wrapper child-center">
        <a href="https://www.foodcraftinstitute.org">
          <img src="../../assets/images/KPLogoIconBlue.svg">
        </a>

      </div>
      <div class="child-wrapper child-right">
        <i class="fa fa-search" aria-hidden="true"></i><span class="search">Search</span>
      </div>
    </div>
  </div>
</nav>

