<div class="max-wrapper">
    <div class="welcome-text">
        <h1>Hi Judy, here are your top things to take care of</h1>
    </div>
    <div class="notification-wrapper">
        <div class="card-component">
            <div class="img-card">
            <img src="../../assets/images/graph.png">
            </div>
            <div class="detail-card">
                <div class="detail-text">Lab Work - Blood Draw</div>
                <div>Suggested Oct 6</div>
            </div>
            <div class="direction-card">
            <a >SCHEDULE</a>
            </div>
        </div>


      <div class="card-component">
        <div class="img-card">
          <img src="../../assets/images/appt.png">
        </div>
        <div class="detail-card">
          <div class="detail-text">Confirm Appointment</div>
          <div>Suggested Oct 10</div>
        </div>
        <div class="direction-card">
          <a >CONFIRM</a>
        </div>
      </div>
      <div class="card-component">
        <div class="img-card">
          <img src="../../assets/images/pill.png">
        </div>
        <div class="detail-card">
          <div class="detail-text">Refill Lisinopril prescription</div>
          <div>Suggested Oct 20 - Oct 30</div>
        </div>
        <div class=" direction-card">
            <a>REFILL</a>
      </div>
    </div>
    </div>
</div>



<!--<router-outlet></router-outlet>-->
